body {
    background: #2e353d;
}

button {
    width: 100px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #009641;
}

button:active {
    background: #9cfb02;
    color: black;
}

#game {
    border-collapse: collapse;
    margin: 30px 0;
    min-height: 484px;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
    cursor: pointer;
}

td.filled {
    background: yellow;    
}


.summary {
    color: white;
    font-size: 16çx;
    font-family: sans-serif;
}

.currentTime {
    font-weight: bold;
    color: orange;
}

